# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Only include the add-on folder in archives downloaded by the Asset Library.
/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
